.container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}

h3 {
    color:slateblue;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: dashed 4px chartreuse;
    width: 300px;
    height: 300px;
}

.grid div {
    width: 200px;
    height: 200px;
}

.shooter {
    background-color: linear-gradient(rgb(204, 0, 44),rgb(89, 15, 155));
}

.invader {
    background-color:cornflowerblue;
    border-radius: 10px;
}

.boom {
    background-color:tomato;
}

.laser {
    background-color:springgreen;
}